# z-way-server.service: systemd configuration file
# documentation:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html
#
# change start manager from SysVinit(init.d) to Systemd(systemctl):
# 1. stop z-way-server:
#    /etc/init.d/z-way-server stop
#    don't delete the SysVinit configuration file /etc/init.d/z-way-server !
# 2. install the Systemd configuration file:
#    ./install_systemd.bash
# 3. start z-way-server
#    sudo systemctl enable z-way-server
#    sudo systemctl start z-way-server

[Unit]
Description=Z-Way Server
#After=syslog.target

[Service]
User=root
Group=root
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin
WorkingDirectory=/opt/z-way-server
ExecStart=/opt/z-way-server/z-way-server
#Restart=always
#RestartSec=2min

[Install]
WantedBy=multi-user.target

